# Node modules
**/node_modules/
**/dist/
**/dist-ssr/
*.local

# Python
**/__pycache__/
*.py[cod]
*$py.class
**/venv/
.env
**/.pytest_cache/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
*.docx
project_summary.md
test_hash.py
